<h1>Search for records</h1>
<form ng-submit="addItem()">
    <div layout="row">
        <md-input-container>
            <label>Type</label>
            <md-select ng-model="search.type" ng-change="updateQuery()">
                <md-option md-option-empty value="">Select</md-option>
                <md-option ng-repeat="(_, type) in types" value="{{type.value}}">
                    {{type.name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Compare</label>
            <md-select ng-model="search.equation" ng-disabled="search.set == false">
                <md-option md-option-empty value="">Select</md-option>
                <md-option ng-repeat="(name, value) in equations" value="{{value}}">
                    {{name}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Compare to</label>
            <input ng-model="search.compare">
        </md-input-container>
    </div>

    <button type="submit" md-button class="md-raised md-primary" ng-click="addItem()">Add</button>
</form>

<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>Type</th>
            <th md-column>Compare</th>
            <th md-column>To</th>
            <th md-column>Delete</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="constraint in constraints">
            <td md-cell>{{constraint.type}}</td>
            <td md-cell>{{constraint.equation}}</td>
            <td md-cell>{{constraint.compare}}</td>
            <td md-cell>
                <md-button class="md-icon-button" aria-label="More" ng-click="deleteConstraint($index)">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>