<h1>Add records</h1>
<form>
    <div layout="row">
        <md-input-container>
            <label>Client id</label>
            <md-select ng-model="$parent.client.id" ng-change="updateQuery()">
                <md-option md-option-empty value="">Select</md-option>
                <md-option ng-repeat="(_, client) in clients" value="{{client.id}}">
                    ({{client.id}}) {{client.fname}} {{client.lname}}
                </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <label>Name</label>
            <input ng-model="$parent.record.key">
        </md-input-container>

        <md-input-container>
            <label>Value</label>
            <input ng-model="$parent.record.value">
        </md-input-container>
    </div>

    <button type="submit" md-button class="md-raised md-primary" ng-click="addRecord()">Add</button>
</form>
